/* Global Styles */
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #222;
	color: #fff;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

/* Header Styles */
.title {
	font-size: 2rem;
	color: #3498db;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

/* Task Styles */
.task-list {
	width: 50%;
	margin: 0 auto;
	max-height: 300px;
	overflow-y: auto;
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #333;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #444;
	cursor: pointer;
	background-color: #3498db;
	transition: background-color 0.3s;
	border-radius: 8px;
}

.task:hover {
	background-color: #555;
}

.done {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #444;
	cursor: pointer;
	background-color: #27ae60;
	color: #fff;
	font-weight: bold;
	transition: background-color 0.3s;
	border-radius: 8px;
}

.done:hover {
	background-color: #2ecc71;
}

/* Input Styles */
.input,
.submit,
.submit-sup {
	width: 50%;
	margin: 0 auto;
	padding: 15px;
	border: 1px solid #444;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	outline: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s;
	background-color: #333;
	color: #fff;
}

.submit:hover {
	background-color: #555;
}

/* Submit Suppression Styles */
.submit-sup {
	background-color: #e74c3c;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-radius: 8px;
}

/* Animation Styles */
.skeleton-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.skeleton-task {
	width: 100%;
	height: 20px;
	background: linear-gradient(90deg, #555 25%, #444 50%, #555 75%);
	background-size: 200% 100%;
	animation: pulse 2s infinite;
	border-radius: 4px;
	padding: 15px;
}

@keyframes pulse {
	0% {
		background-position: -200% 0;
	}
	25% {
		background-position: -100% 0;
	}
	50% {
		background-position: 100% 0;
	}
	75% {
		background-position: 150% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
	.task-list,
	.input,
	.submit,
	.submit-sup {
		width: 90%; /* Ajustement pour les petits écrans */
	}

	.title {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 480px) {
	.task-list,
	.input,
	.submit,
	.submit-sup {
		width: 90%;
	}

	.title {
		margin-bottom: 10px;
		font-size: 1.2rem; /* Ajustement supplémentaire pour les écrans plus petits */
	}

	/* Styles spécifiques pour les écrans très petits */
	.task {
		padding: 10px; /* Réduction de l'espacement */
		border-radius: 4px; /* Coins moins arrondis */
	}

	.done {
		padding: 10px; /* Réduction de l'espacement */
		border-radius: 4px; /* Coins moins arrondis */
	}

	.input,
	.submit,
	.submit-sup {
		padding: 10px; /* Réduction de l'espacement */
		border-radius: 4px; /* Coins moins arrondis */
	}
}
